.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#movie-poster{
  width: 50%;
}

body{

font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

background: rgb(75,184,145);
background: linear-gradient(180deg, rgba(75,184,145,0.6545211834733893) 0%, rgba(9,9,121,0.7497592787114846) 25%, rgba(77,9,121,0.640515581232493) 71%);

}

.details-page{
  color: aliceblue;
}